/* styles.css */
.signup-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3d5bf;
  padding: 2rem;
}

.hero-section {
  flex: 1;
  text-align: left;
  position: relative; /* Ensure that the container is positioned relative */
  width: 100%; /* Ensure that the container takes the full width of its parent */
  height: 0; /* Set initial height to 0 to allow for dynamic resizing */
  padding-bottom: 45.00%; /* Maintain aspect ratio (16:9) for widescreen images */
}

/* .illustration {
  
} */

.form-section {
  flex: 1;
  background-color: #fff;
  padding: 2rem;
  border-top-right-radius: 10px; /* Set the top left border radius */
  border-bottom-right-radius: 10px;
  box-shadow: 0 4px 6px rgba(117, 16, 16, 0.1);
}

.error-message {
  color: #ff4d4f;
  margin-bottom: 1rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.error {
  border-color: #ff4d4f;
}

.btn-primary {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.disclaimer {
  font-size: 0.8rem;
  color: #666;
  margin-top: 1rem;
  padding: 1rem;
}

.artist-credit {
  text-align: right;
  font-style: italic;
  color: #666;
}


.hero-section img {
  position: absolute; /* Position the image absolutely within the container */
  width: 100%; /* Set image width to fill the container */
  height: 100%; /* Set image height to fill the container */
  object-fit: cover; /* Ensure the image fully covers the container */
  border-top-left-radius: 10px; /* Set the top left border radius */
  border-bottom-left-radius: 10px; /* Set the bottom left border radius */
  z-index: 1;
}
.img-heading {
  position: absolute;
  z-index: 2;
  padding: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #642526;
}

.terms-group {
  display: flex;
  align-items: center;
}

.terms-checkbox {
  margin-right: -3.75rem; /* Adjust this value to increase or decrease the space */
}

.terms-label {
  font-size: 0.8rem; /* Adjust this value to change the text size */
  font-weight:500; /* Remove bold styling */
}

.terms-color{
  color: blue;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.btn-primary {
  background-color: #b1292d;
  color: #fff;
  border: none;
  padding: 0.5rem 3rem;
  border-radius: 6px;
  cursor: pointer;
}

